* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comfortaa', cursive;
  position: relative;
  background-color: #aaa;
}

.scroll-fix::before {
  display: block;
  content: '';
  height: 72px;
  margin-top: -72px;
}

nav {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: background-color .45s;
  transition: background-color .45s;
}

nav a, nav i {
  color: white;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav .navbar-brand {
  font-weight: normal;
  margin-left: 10px;
}

nav .navbar-brand:hover .nav-title {
  color: white;
}

nav .nav-title {
  font-size: 110%;
  color: gold;
  letter-spacing: 1px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav .navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0px;
          box-shadow: 0 0 0 0px;
}

nav .nav-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav .fa-cut {
  color: gold;
  margin-right: 3px;
  font-size: 30px;
}

nav .fa-bars {
  padding: 10px;
  font-size: 26px;
}

nav button:hover .fa-bars {
  color: gold;
}

nav a:hover {
  color: gold;
}

nav .active {
  color: gold;
}

nav .navbar-nav {
  margin-left: 15px;
  padding: 5px;
  border-left: 1px solid gold;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/heromin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}

header .hero-img .fa-angle-double-down {
  display: none;
}

header .hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

header .hero-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
}

header .hero-text {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 230px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .hero-text h1 {
  text-transform: uppercase;
  font-size: 32px;
}

header .hero-text p {
  font-size: 15px;
}

header .hero-text .title {
  color: gold;
  letter-spacing: 1px;
  font-size: 110%;
}

header .hero-text .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  padding-top: 8px;
}

main .wrapper {
  width: 80%;
  margin: 0 auto;
}

main .wrapper h2 {
  text-align: center;
  text-transform: uppercase;
}

main .underline {
  width: 60px;
  height: 4px;
  background-color: gold;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

main #aboutus i {
  font-size: 32px;
  margin-top: 35px;
}

main #aboutus h4 {
  text-transform: uppercase;
  font-size: 20px;
}

main #aboutus .about-us-item {
  padding: 0 30px;
  -webkit-transition: color .3s;
  transition: color .3s;
  visibility: hidden;
}

main #aboutus .about-us-item:hover {
  color: #e2b900;
}

@media (min-width: 450px) {
  header .hero-text {
    height: 210px;
  }
}
/*# sourceMappingURL=style.css.map */